/* Merriweather font family */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Inter font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1320px;
    max-width: 82%;
    margin: 0 auto;
}

header {
    margin-top: 50px;
}

header .container {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner-image.png');
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* banner section */

.banner p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

}

.banner {
    max-width: 518px;
    margin: 0 auto;
    padding: 145px 0;
}

.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 58px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 16px;

}

/* category section */

section {
    margin-top: 120px;
}

.category-section .category-item h2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;

}

.category-section .category-item p {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 16px;
}

.category-section .category-item h3 {
    color: #070211;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}

.category-section .category-img {
    max-width: 655px;
    margin: 0 auto;
}

.category-section .category-img img {
    width: 100%;
}

/* welcome-section */

.welcome-section .container {
    background: linear-gradient(45deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/vector.png');
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-main-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 68px 0;
}

.welcome-section .welcome-section-heading h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 52px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-section .welcome-section-heading p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.welcome-section .welcome-section-heading button {
	color: #FFF;
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 48px;
	margin-left: 32px;
	background: #F00;
	border: none;
	cursor: pointer;
	padding: 14px 30px;
	border-radius: 8px;
    border: 2px solid #F00;
    transition: .3s;
}
.welcome-section .welcome-section-heading button:hover{
    background: transparent;
}

.welcome-section .welcome-section-heading {
    width: 570px;
    margin-left: 126px;

}

.welcome-section .welcome-section-img img {
    width: 100%;

}

.welcome-section .welcome-section-img {
    max-width: 320px;
    margin-right: 138px;
}

/* join-now-section */

.join-now-section .join-now-item p {
    color: #070211;
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join-now-section .container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    padding-top: 100px;
    padding-bottom: 110px;
}

.join-now-section .join-now-item p span {
    color: #F00;
}

.join-now-item {
    text-align: center;
}

.join-now-section .join-now-item button {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    cursor: pointer;
    margin-top: 48px;
}

/* coming-soon-section */

.coming-soon-section .coming-soon-main-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coming-soon-section .column-one h3 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.coming-soon-section .column-one {
    max-width: 322px;
}

.coming-soon-section .column-one h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.coming-soon-section .column-one p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.coming-soon-section .column-two img {
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 40px;
}

.coming-soon-section .column-three h1 {
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

.coming-soon-section .column-three p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.coming-soon-section .column-three {
    max-width: 226px;
    margin-top: 132px;
}

/*holyday section*/

.holyday-section .holyday-heading-item{
    max-width: 875px;
    margin: 0 auto;
    text-align: center;
}
.holyday-section .holyday-heading-item h3 {
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.holyday-section .holyday-heading-item h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 28px;
}
.holyday-section .holyday-heading-item span{
    color: #F00;
}

.holyday-section .holyday-heading-item p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 35px;
}

.holyday-section .holyday-main-column {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: -145px;

}

.holyday-section .holyday-main-column img {
    width: 100%;
    display: block;

}

.holyday-section .column-item-one {
    position: relative;
    top: 158px;

}

.holyday-section .column-item-two {
    width: 26%;
    position: relative;
}

.holyday-section .column-item-two::before {
    position: absolute;
    content: '';
    background: url('../images/group50.png');
    background-repeat: no-repeat;
    width: 250px;
    height: 251px;
    top: 50%;
    transform: translateY(-50%);
    left: -125px;
}

.holyday-section .column-item-three {
    background: url('../images/rectangle2.png');
    background-repeat: no-repeat;
    height: 180px;
    border-radius: 16px 0px 16px 16px;

}

/* portfolio-section */

.portfolio-section h3 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.portfolio-section h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-section .portfolio-section-title {
    max-width: 734px;

}

.portfolio-section .portfolio-main-img img {
    transition: .4s;
    width: 100%;
    display: block;

}

.portfolio-section .portfolio-main-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-top: 48px;
}

.portfolio-section .portfolio-main-img img:hover {
    transform: scale(1.2);
}


/* subscribe-section */

.subscribe-section .container {
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;

}

.subscribe-section .subscribe-section-item {
    text-align: center;
    padding: 80px 0;
    max-width: 734px;
    margin: 0 auto;
}

.subscribe-section h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    margin-top: 40px;
}

.subscribe-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    margin-bottom: 48px;
}

.subscribe-section form {
    max-width: 535px;
    display: flex;
    margin: 0 auto;

}

.subscribe-section form input {
    flex-grow: 1;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 30px;
    border: none;
    outline: none;
    border-radius: 50px 0px 0px 50px;
}

.subscribe-section form button {
    padding: 22px 50px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.subscribe-section form input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

/* footer-section */

footer {
    background: #070211;
    margin-top: 120px;
}

footer .address-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer .container {
    padding: 120px 0;
}

footer .footer-address p {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

footer .footer-address {
    max-width: 325px;
}

footer .footer-contact a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
    display: block;
}

footer hr {
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
}

footer .contact {
    position: relative;
}

footer .contact::before {
    position: absolute;
    content: '';
    background: url('../images/call.png');
    width: 24px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    right: 300px;
}

footer .website {
    position: relative;
}

footer .website::before {
    position: absolute;
    content: '';
    background: url('../images/website.png');
    width: 24px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    right: 300px;
}

footer .social-links a {
    margin-right: 24px;
}

footer .social-links a:last-child {
    margin-right: 0;
}

footer .social-links {
    text-align: center;
    margin: 48px 0;
}

footer .unsubscribe p {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

footer .unsubscribe {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

footer .unsubscribe a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}